body {
    margin: 0;
}

canvas {
    background: white;
    display: block;
}

.actions {
    position: fixed;
    left: 0;
    bottom: 50%;
}

.actions > #brush {
    display: none;
}

.actions.active > #brush {
    display: inline-block;
}

.actions.active > #eraser {
    display: none;
}

#eraser, #brush {
    font-size: 20px;
}